/* add-on styles */
.intro-header h1 {
    font-size: 48px;
    line-height: 60px;
    padding-top: 20px;
}

.intro-header p.subtitle {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 20px;
}

.main-panel .aui-page-panel-item {
    padding: 20px 40px 20px 0;
    height: 100px;
}

.ag-progress, .ag-progress > li {
    list-style: none;
    margin: 0;
    padding: 0
}

.ag-progress {
    display: flex;
    height: 18px;
    width: 100%;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.ag-progress.ag-progress-short {
    height: 5px
}

.ag-progress li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ag-progress li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.aui-iconfont-warning {
    color: #f6c342;
}

.aui-iconfont-error {
    color: #d04437;
}

.ag-progress li {
    color: #fff;
    display: inline-block;
    height: inherit;
    overflow: hidden
}

.ag-progress li a {
    color: #fff
}

.ag-progress li a:hover {
    color: inherit
}

.ag-progress.ag-none li {
    color: #fff;
    display: inline-block;
    height: inherit;
    overflow: hidden
}

li.ag-past {
    background: #707070
}

li.ag-future {
    background: #59afe1
}

li.ag-empty {
    background: #cccccc
}

li.ag-todo {
    background: #4a6785
}

li.ag-todo:hover {
    background-color: #537495
}

li.ag-inprogress {
    color: #815b3a;
    background: #f6c342
}

li.hidden {
    display: none;
}

li.ag-inprogress:hover {
    background-color: #f7cb5a
}

li.ag-inprogress a {
    color: #815b3a
}

li.ag-inprogress a:hover {
    color: inherit
}

li.ag-done {
    background: #14892c
}

li.ag-done:hover {
    background-color: #179f33
}

li.ag-none {
    background: #707070
}

li.ag-none:hover {
    background-color: #7d7d7d
}

.ag-none li {
    background: #e9e9e9
}

ul.ag-none, .ag-none li {
    height: 3px;
    width: 100%
}

.ag-progress .ag-status-info {
    display: inline-block;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: 100%
}

.ag-progress .ag-status-info b {
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
}

.ag-meta-group {
    border-spacing: 5px;
    padding-top: 5px;
    display: table;
    table-layout: fixed;
    width: 100%
}

.ag-meta-group + .ag-meta-group {
    margin-top: 30px
}

.ag-meta-section {
    display: table-cell;
    text-align: center;
    overflow: hidden
}

.left-align {
    text-align: left
}

.ag-avatar img {
    height: 32px
}

.ag-meta-section a:first-child .ag-avatar {
    margin-left: 0
}

.ag-section-list, .ag-section-list li {
    list-style: none;
    line-height: 1.5;
    margin: 0;
    padding: 0
}

.ag-scope-increase {
    color: #d04437
}

a:hover .ag-scope-increase {
    color: inherit
}

.ag-assignee-name {
    line-height: 32px;
    margin-left: 10px;
    vertical-align: text-top
}

.ag-avatar {
    display: inline-block;
    margin: 0 5px 5px
}

.ag-avatar img {
    border-radius: 3px
}

.ag-label, .ag-progress .ag-status-info, .ag-name-lane {
    font-size: 14px
}

.ag-metric-value, .ag-status-group {
    font-size: 32px
}

.ag-metric-value sup {
    font-size: 50%
}

@media (max-width: 450px) { {
    padding: 0
}

    .ag-progress {
        height: 20px
    }

    .ag-progress .ag-status-info b {
        line-height: 20px;
    }

    .ag-name-board, .ag-label, .ag-progress .ag-status-info, .ag-name-lane {
        font-size: 12px
    }

    .ag-status-group {
        font-size: 14px
    }

    .ag-metric-value {
        font-size: 16.8px
    }
}

@media (min-width: 450px) and (max-width: 1600px) {
    .ag-progress {
        height: 25px
    }
    .ag-progress .ag-status-info b {
        line-height: 25px;
    }

    .ag-status-group {
        font-size: 19.2px
    }

    .ag-metric-value {
        font-size: 19.2px
    }
}
